/* El input ahora usa las clases de Bootstrap, pero podemos personalizar si asi lo queremos */
input.form-control {
  font-size: 16px;
}

#lista-de-productos {
  display: flex;
  /*faltaba punto y coma*/
}

.producto {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto img {
  width: 70%;
  height: auto;
  /*faltaba punto y coma tambien*/
}